<!DOCTYPE html>
<html>

  <head>
    <title></title>

    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/json2/20110223/json2.js"></script>
    <script src="./assets/javascripts/vendor/underscore.js"></script>
    <script src="./assets/javascripts/vendor/backbone.js"></script>
    <script src="./assets/javascripts/vendor/backbone.marionette.js"></script>

    <link href="./assets/css/bootstrap.css" rel="stylesheet">
    <link href="./assets/css/style.css" rel="stylesheet">

   
	
	
	 <script id="cart-empty-template" type="text/html">
            <td class="empty">Your cart is empty.</td>
        </script>
        
        <script id="cart-template" type="text/html">
            <h3 class="header-3">Your cart <span class="subtotal"></span></h3>
            <table>
                <tbody>
                </tbody>
            </table>
            <a href="/go-checkout" class="button action">go checkout</a>
        </script>

        <script id="cart-product-template" type="text/html">
            <td class="image">
                <a href="<%= url %>">
                    <img src="<%= image  %>" alt="<%= title %>">
                </a>
            </td>
            <td class="description">
                <a href="<%= url %>">
                    <p><%= title %></p>
                    <p class="price"><%= price %> €</p>
                </a>
                <a class="delete-button">&nbsp;</a>
            </td>
        </script>
  </head>
  <body background="assets/images/flower-whole.jpg">
      <div class="menu">
      <a href="#" class="one">left</a>
      <a href="#" class="two">right</a>
      <a href="#" class="three">Up</a>
      <a href="#" class="four">Down</a>

      <div class="circle">
        <ul class="saturate">
          <li><img src="images/flowers1.jpg" alt="Flowers left side">Orchid</li>
          <li>#</li>
          <li>3</li>
          <li>#</li>
        </ul>
      </div>

    </div>
	 <section id="content" class="product">
            <div class="wrapper">
                <aside class="sidebar">
                    <div id="shopping-cart" class="cart">&nbsp;</div>
                </aside>
            </div>
        </section>
    
        <script type="text/javascript" src="assets/javascripts/application.js"></script>
	
        <script>
            App.start();
        </script>
  </body>
</html>
